<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 상세</title>
</head>
<body>
<h1>게시글 상세</h1>
<div>
    <label>ID:</label>
    <span th:text="${post.id}"></span>
</div>
<div>
    <label>제목:</label>
    <span th:text="${post.title}"></span>
</div>
<div>
    <label>이름:</label>
    <span th:text="${post.name}"></span>
</div>
<div>
    <label>등록일:</label>
    <span th:text="${#dates.format(post.createdAt, 'yyyy/MM/dd HH:mm')}"></span>
</div>
<div>
    <label>내용:</label>
    <p th:text="${post.content}"></p>
</div>
<div>
    <a th:href="@{/updateform(id=${post.id})}">수정</a>
    <a th:href="@{/deleteform(id=${post.id})}">삭제</a>
</div>
<a th:href="@{/list}">목록으로 돌아가기</a>
</body>
</html>
